<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:Layout="http://www.ultraq.net.nz/thymeLeaf/Layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <!--    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">-->
</head>
<body>
<div layout:fragment="content1">

    <h1 class="text-center" mt-5>
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
            Bienvenue sur notre application de<br>gestion de patients et médecins
        </div>

    </h1>

    <!--<div class="img-fluid" style="background-image: url('https://www.qnomy.com/webfiles/images/cache/750X560/zcX1/webfiles/fck/image/headers2/9f4495be5528b9826b7249b627b2ed9a_industries_medical_appointment_scheduling.jpg');
                height: 560px;
                width: 750px">
    </div>-->

    <div class="container">
        <div class="row">
            <div class="col-12">
                <img class="mx-auto d-block"
                     style="background-image: url('https://images.everydayhealth.com/images/what-doctors-and-specialists-treat-skin-cancer-722x406.jpg');
                    height: 560px;
                    width: 750px">
            </div>
        </div>
    </div>

</div>

</body>
</html>